.root {
    -fx-focus-color: steelblue;
    -fx-faint-focus-color: #4682B420;
}

.root-pane {
    -fx-background-color: #F8F9FB;
    -fx-border-color: lightgray;
    -fx-border-width: 1px 0 0 0; /* top border */
}

.menu-item:hover, .menu-item:focused {
    -fx-background-color: steelblue;
}

.combo-box .list-view .list-cell:hover {
    -fx-background-color: #4682B450;
}

.combo-box .list-view .list-cell:focused, .combo-box .list-view .list-cell:selected {
    -fx-background-color: steelblue;
}

.progress-bar {
    -fx-accent: steelblue;
}

.progress-indicator {
    -fx-progress-color: steelblue;
}