.root {
    -fx-focus-color: steelblue;
    -fx-faint-focus-color: #4682B420;
}

.root-pane {
    -fx-background-color: #F8F9FB;
    -fx-border-color: lightgray;
    -fx-border-width: 1px 0 0 0; /* top border */
}

.menu-item:hover, .menu-item:focused {
    -fx-background-color: steelblue;
}

.combo-box .list-view .list-cell:hover {
    -fx-background-color: #4682B450;
}

.combo-box .list-view .list-cell:focused, .combo-box .list-view .list-cell:selected {
    -fx-background-color: steelblue;
}

.progress-bar {
    -fx-accent: steelblue;
}

.progress-indicator {
    -fx-progress-color: steelblue;
}

/*
.list-cell {
    -fx-background-color: white;
}

.list-cell:header {
    -fx-background-color: #dddddd;
}*/

.sura-title-list .scroll-bar:horizontal .increment-arrow,
.sura-title-list .scroll-bar:horizontal .decrement-arrow,
.sura-title-list .scroll-bar:horizontal .increment-button,
.sura-title-list .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}

.sura-title-list, .sura-title-list .list-cell {
    -fx-background-color: #f0f0f0;
}

.sura-title-list .list-cell:hover:filled {
    -fx-background-color: #e9e9e9;
}

.sura-title-list .list-cell:hover:selected {
    -fx-background-color: #dedede;
}

.sura-title-list .list-cell:selected {
    -fx-background-color: #dedede;
}